.app.dark {
    --primary-color: #3b82f6;    
    --secondary-color: #8b5cf6; 
    
    --inverted-primary-color: #2ceb25;    
    --inverted-secondary-color: #175f29;  

    --inverted-bg-color: #5d8ffc; 

    --bg-primary: #1f2937;     
    --bg-secondary: #374151;    
 
    --text-primary: #f9fafb;    
    --text-secondary: #d1d5db;  

    --border-color: #4b5563;    
}