.app.light {
    --primary-color: #2563eb;
    --secondary-color: #7c3aed;
    --inverted-primary-color: #3bf63b;
    --inverted-secondary-color: #4922a1;
    --inverted-bg-color: #3b82f6;
    --bg-primary: #fff;
    --bg-secondary: #f3f4f6;
    --text-primary: #111827;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
}
