.app_light_theme {
    --bg-color: #f1f1f1;
    --inverted-bg-color: #e0e0e0;
    --primary-color: #3498db;
    --secondary-color: #8e44ad;
    --inverted-primary-color: #ff9f43;
    --inverted-secondary-color: #f1c40f;
}
